@mixin flexCenter($direction: 'both', $isInline: false) {
    @if $isInline {
        display: inline-flex;
    } @else {
        display: flex;
    }

    @if $direction == 'x' {
        justify-content: center;
    } @else if $direction == 'y' {
        align-items: center;
    } @else {
        align-items: center;
        justify-content: center;
    }
}

@mixin customScrollbar($thumbColor: $primary, $trackColor: $white, $width: 8px) {
    &::-webkit-scrollbar {
        width: $width;
    }

    &::-webkit-scrollbar-track {
        background: $trackColor;
    }

    &::-webkit-scrollbar-thumb {
        background: $thumbColor;

        &:hover {
            background: darken($thumbColor, 15%);
        }
    }
}

@mixin customSelection($color: $primary) {
    -moz-selection {
        background-color: $color
    }

    ::selection {
        background-color: $color
    }
}

@mixin placeholderColor($color) {
    &[placeholder]::-webkit-input-placeholder {
        color: rgba($color, .42);
        transition: $standardTransition;
    }

    &[placeholder]:hover::-webkit-input-placeholder {
        color: rgba($color, .25);
    }

    &[placeholder]:focus::-webkit-input-placeholder {
        color: rgba($color, .25);
    }

    &[placeholder]::-moz-placeholder {
        color: rgba($color, .42);
        transition: $standardTransition;
    }

    &[placeholder]:hover::-moz-placeholder {
        color: rgba($color, .25);
    }

    &[placeholder]:focus::-moz-placeholder {
        color: rgba($color, .25);
    }

    &[placeholder]:-ms-input-placeholder {
        color: rgba($color, .42);
        transition: $standardTransition;
    }

    &[placeholder]:hover:-ms-input-placeholder {
        color: rgba($color, .25);
    }

    &[placeholder]:focus:-ms-input-placeholder {
        color: rgba($color, .25);
    }
}