// Colors
$black: #000;
$white: #fff;
$grey: #666666;
$primary: #6e00d2;
$secondary: $black;

// Fonts
$familyPrimary: 'Karla', sans-serif;
$familySecondary: 'Poppins', sans-serif;
$weightNormal: 400;
$weightBold: 700;

// Other
$standardTransition: 0.25s ease-out;
